/*
 *在这里编辑主页的样式表
 */
/*
 *设置 body
 */
body{
	/* 设置body背景图片,水平方向重复 */
	background:url(../img/bd-bg.png) repeat-x ;
}
/* 解决高度塌陷问题 */
.clearfix:before,
.clearfix:after{
	content:"";
	display: table;
	clear: both;
}
.clearfix{
	zoom: 1;
}
/*
 *固定元素的宽度
 */
.w{
	width: 940px;
	margin: 0px auto;
}
/* 设置header */
.header{
	/* 设置一个上边距 */
	padding-top: 37px;
	/* 设置一个下边距 */
	padding-bottom: 46px;
}
/* 设置logo的位置 */
.logo{
	/* 设置左边距 */
	margin-left: 15px;
}
/* 设置导航条 */
.nav{
	/* 向右浮动 */
	float: right;
	/* 设置一个上外边距 */
	margin-top: 22px;
}
.nav li{
	/* 向左浮动 */
	float: left;
	/* 设置左右内边距 */
	padding: 0  20px 10px;
	/* 设置左边块 */
	border-left: 1px #d6d6d6 dotted ;
}
/* 设置导航条里的超链接 */
.nav a{
	/* 设置字体颜色 */
	color: #666;
	/* 设置字体大小加粗 */
	font: bold 14px Georgia;
	/* 去除下划线 */
	text-decoration: blink;
}
/* 设置超链接移入效果 */
.nav a:hover{
	color: blue;
	/* 设置一个下划线 */
	text-decoration: underline;
}
.nav p{
	color: #b7b7b7;
	font: 11px tahoma;
}
/* 设置阴影 */
.banner{
	/* 设置高度 */
	width: 940px;
	height: 324px;
	margin: 0 auto;
	position: relative;
	/* 设置阴影 不能重复 还有居中 */
	background:  url(../img/banner-bg.png) no-repeat bottom center ;
	/* 开启相对定位 */
}

.banner img{
    width: 100%;
    height: 100%;
    position: absolute; 
    left: 0px;
    top: 0px;
    display: none; 
}
.banner ul{
    width: 150px;
    height: 25px;
    border-radius: 20px;
    background-color:rgba(255,255,255,0.5);
    position: absolute;
    left: 35%;
    bottom: 10%;
}
.banner ul li{
    width: 12px;
    height: 12px;
    margin-top:5px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
}
.banner ul .li_1{
    background-color: #f40; 
}


/* 设置content中的标题 */
.content h1{
	/* 设置文本居中 */
	text-align: center;
	/* 设置字体 */
	font: bold 24px Georgia;
	/* 设置上内边距 */
	padding: 6px 0 20px 0;
	/* 设置一个下外边距 */
	margin-bottom: 38px;
	/* 设置背景图片 */
	background: url(../img/line.png) no-repeat bottom center;
}
/* 设置三个div的样式 */
.content .pl , .content .cs , .content .uc ,
.contact .sc , .contact .co  ,.contact .nu
{
	/* 向左浮动 */
	float: left;
	width: 300px;
}
/* 给cs添加左右边距 */
.content .sc ,
.contact .co{
	margin: 0 20px;
}
/* 设置div中的标题 */
.content h2{
	color: #11719e;
	font: 24px Georgia;
}
.content .p1{
	color: #8c8c8c;
	font: 12px Helvetica;
}
/* 设置图片的背景 */
.content .imgDiv{
	width: 299px;
	height: 190px;
	background:  url(../img/img-bg.png) no-repeat;
	/* 设置一个上下外边距 */
	margin: 16px 0 10px 0;
	/* 设置水平方向居中 */
	text-align: center;
	/* 设置上内边距 */
	padding-top:12px ;
}
.content .p2{
	height: 92px;
	width: 298px;
	color: #3e3e3e;
	font: 13px Helvetica;
	word-spacing: 2px;
}
/* 设置按钮的样式 */
.content .ml{
	/* 设置a标签为块元素 */
	display: block;
	/* 设置宽度和高度 */
	width: 163px;
	height: 40px;
	/* 去除下划线 */
	text-decoration: none;
	/* 背景图片 */
	background: url(../img/btn1.png) no-repeat;
	/* 字体颜色 */
	color: #016999;
	/* 字体大小以及布局 */
	font: 12px/40px Helvetica ;
	/* 首行缩进1个字 */
	text-indent: 1em;
	/* 设置下外边距 */
	margin-bottom: 35px;
}
.contact{
	background: url(../img/line.png) no-repeat top center;
}
.contact .txt{
	height: 33px;
	width: 276px;
	line-height: 33px;
	background: url(../img/input.png) no-repeat;
	/* 单独为IE6设置不会滚动的文本框 */
	_background-attachment: fixed;
	/* 去除边框 */
	border: none;
	/* 去除内边距,使样式统一 */
	padding: 0 10px;
	margin: 0 0 16px;
}
.contact .tarea{
	width: 276px ;
	height: 114px;
	background: url(../img/textarea.png) no-repeat;
		/* 去除边框 */
	border: none;
	/* 去除滚动条 */
	overflow: auto;
	/* 设置我们的文本域不能调整大小 */
	resize: none;
	padding: 10px;
	margin: 0;
}
.contact .btn{
	width: 163px ;
	height: 32px ;
	background: url(../img/btn2.png) no-repeat;
	/* 去除边框 */
	border: none;
	padding: 0;
	margin: 11px 0 23px;
	font: 13px Georgia;
	color: white;
	text-align: left;
	text-indent: 1em;
	cursor: pointer;
	
}
/* 设置我们的标题 */
.contact h2{
	color: #444;
	font: 18px/1 Georgia;
	/* 设置下边框 */
	border-bottom: 1px dashed #d3d3d3  ;
	padding: 44px 0  10px  0;
	margin-bottom: 15px;
}
.sc .p1{
	color: #444;
	font: 12px/1 Helvetica;
	
}
.icon{
	/* 设置字体大小为0,还有去除空格 */
	font-size: 0;
	/* 设置上外边距 */
	margin-top: 4px;
}
.sc .icon a{
	margin-right: 6px;
}
.sc .nl{
	font: bold 18px/1 "gill sans mt" ;
	padding: 28px 0 10px 0;
	margin-bottom: 18px;
}
.sc .txt{
	margin-top: 18px;
	margin-bottom: 0;
}
.nu p{
	height: 58px;
	_height: 60px;
	color: #444;
	font: 12px/1 Helvetica;
	border-bottom: 1px dashed #d3d3d3  ;
	margin-bottom: 14px;
	padding-bottom: 9px;
}
.nu .no-margin{
	margin-bottom: 0;
}
.nu img{
	float: left;
	margin-right: 8px;
}
.footer{
	height: 173px;
	background: #123;
	/* 设置上边框 */
	border-top: 10px solid #4c4c4c;
}
.footer a , .footer p{
	color: #999;
	font: 11px Helvetica;
	text-decoration: none;
}
.footer .w{
	padding-top: 18px;
}
.footer p{
	margin-bottom: 6px;
}
.footer .cl{
	float: right;
	
}
.footer a:hover{
	color: aquamarine;
	text-decoration: underline;
}
